body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.lkcmc ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-right: 100px;
}

.lkcmc ul li a:hover {
  color: black;
}

.lkcmc ul li {
  margin-left: 100px;
  font-weight: bold;
  font-size: 20px;
}

.lkcmc ul li:first-child {
  margin-left: 0;
}

.lkcmc a {
  text-decoration: none;
  color: #1B9736;
}

.header-2 {
  background: rgb(31,177,73);
  background: linear-gradient(90deg, rgba(31,177,73,1) 0%, rgba(184,224,140,1) 78%, rgb(246, 255, 236) 100%);
  width: 100%;
  height: 35px;
}

.lgnome {
  margin-left: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  margin-top:30px;
  margin-bottom: 30px;
}

.quimica{
  background: rgb(0,151,178);
  background: linear-gradient(90deg, rgba(0,151,178,1) 0%, rgba(126,217,87,1) 100%);
}

.secretariado{
  background: rgb(0,244,255);
  background: linear-gradient(90deg, rgba(0,244,255,1) 0%, rgba(0,108,253,1) 100%);
}

.txt{
  background: rgb(237,0,0);
  background: linear-gradient(90deg, rgba(237,0,0,1) 0%, rgba(219,159,159,1) 100%);
}

.ds{
  background: rgb(51,121,255);
  background: linear-gradient(90deg, rgba(51,121,255,1) 0%, rgba(25,35,62,1) 100%);
}

.txtcursos {
  flex: 1 1 60%;
  padding: 20px;
  font-size: 20px;
}

.cursosimg {
  flex: 1 1 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 33px;
}

.cursosimg img {
  width: 100%;
  margin-bottom: 20px;
}

.txtcursos p {
  font-size: 25px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.txtcursos h1{
  padding-bottom: 10px;
}

.txtcursos h2{
margin-bottom: 40px;
margin-top: 30px;
}

#ds{
  font-size: 35px;
}

footer {
  background-color: #898989;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a img {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  vertical-align: middle;
}