body {
  background-color: white; /* Define o fundo da página como branco */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Define a família de fontes a ser utilizada */
  margin: 0; /* Remove as margens padrão do corpo */
  padding: 0; /* Remove o preenchimento padrão do corpo */
  display: flex; /* Utiliza o modelo de layout flexível */
  flex-direction: column; /* Define a direção da disposição dos itens como coluna */
}

.header {
  display: flex; /* Utiliza o modelo de layout flexível */
  justify-content: space-between; /* Distribui os itens com espaço entre eles */
  align-items: center; /* Centraliza verticalmente os itens */
  padding: 10px; /* Adiciona preenchimento interno */
}

.lkmt ul {
  display: flex; /* Utiliza o modelo de layout flexível para a lista */
  list-style-type: none; /* Remove os marcadores de lista padrão */
  padding: 0; /* Remove o preenchimento interno da lista */
  margin-right: 20px; /* Define a margem direita da lista */
}

.lkmt ul li a:hover {
  color: black; /* Muda a cor do texto para preto quando o link é hover (passagem do mouse por cima) */
}

.lkmt ul li {
  margin-left: 80px; /* Define a margem esquerda dos itens da lista */
  font-weight: bold; /* Define o peso da fonte como negrito */
  font-size: 20px; /* Define o tamanho da fonte */
}

.lkmt ul li:first-child {
  margin-left: 0; /* Remove a margem esquerda do primeiro item da lista */
}

.lkmt a {
  text-decoration: none; /* Remove a decoração de texto dos links */
  color: #1B9736; /* Define a cor do texto dos links */
}

.lgnome {
  margin-left: 10px; /* Define a margem esquerda para o logotipo */
}

h1 {
  text-align: center; /* Centraliza o texto do título h1 */
}

main {
  width: 100%; /* Define a largura total */
  max-width: 1200px; /* Define a largura máxima */
  margin: 20px auto; /* Define margens automática nas laterais */
  padding: 0 20px; /* Adiciona preenchimento interno com 20px nas laterais */
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

.container {
  margin-left: 280px; /* Define a margem esquerda da classe container */
  display: flex; /* Utiliza o modelo de layout flexível */
  flex-direction: column; /* Define a direção da disposição dos itens como coluna */
  background-color: #85FF0045; /* Define a cor de fundo com transparência */
  border-radius: 8px; /* Adiciona borda arredondada */
  box-shadow: 0 0 10px rgba(158, 48, 48, 0.1); /* Adiciona sombra */
  overflow: hidden; /* Esconde qualquer conteúdo que vaze para fora da caixa */
  width: 100%; /* Define a largura total */
  max-width: 600px; /* Define a largura máxima */
}

.form-container {
  padding: 20px; /* Adiciona preenchimento interno */
}

.form-container h1 {
  margin-top: 0; /* Remove a margem superior do título h1 */
}

.form-container label {
  display: block; /* Transforma o elemento em bloco */
  margin-top: 20px; /* Define a margem superior */
}

.form-container input {
  width: 100%; /* Define a largura total do input */
  padding: 10px; /* Adiciona preenchimento interno */
  margin-top: 5px; /* Define a margem superior */
  border-radius: 4px; /* Adiciona borda arredondada */
  border: 1px solid black; /* Define a borda */
  box-sizing: border-box; /* Garante que o padding não aumente o tamanho total */
}

.form-container button {
  display: block; /* Transforma o elemento em bloco */
  margin: 20px auto; /* Define margens automáticas */
  padding: 10px 15px; /* Adiciona preenchimento interno */
  background-color: #1B9736; /* Define a cor de fundo */
  color: white; /* Define a cor do texto */
  border: none; /* Remove a borda */
  border-radius: 4px; /* Adiciona borda arredondada */
  cursor: pointer; /* Adiciona cursor de ponteiro */
}

.form-container button:hover {
  background-color: #000000; /* Muda a cor de fundo ao passar o mouse */
}

footer {
  margin-top: 100px; /* Define a margem superior do rodapé */
  background-color: #898989; /* Define a cor de fundo */
  color: white; /* Define a cor do texto */
  padding: 20px 0; /* Adiciona preenchimento interno */
  text-align: center; /* Centraliza o texto */
}

.footer-container {
  display: flex; /* Utiliza o modelo de layout flexível */
  justify-content: space-around; /* Distribui os itens com espaço igual ao redor */
  align-items: center; /* Centraliza verticalmente os itens */
  flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha conforme necessário */
}

.footer-section {
  margin: 10px; /* Define a margem ao redor da seção */
}

.footer-section h4 {
  margin-bottom: 10px; /* Define a margem inferior do título */
}

.footer-section p {
  margin: 5px 0; /* Define as margens do parágrafo */
}
