body {
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.lkmt ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-right: 100px;
}

.lkmt ul li a:hover {
  color: black;
}

.lkmt ul li {
  margin-left: 100px;
  font-weight: bold;
  font-size: 20px;
}

.lkmt ul li:first-child {
  margin-left: 0;
}

.lkmt a {
  text-decoration: none;
  color: #1B9736;
}

.lgnome {
  margin-left: 10px;
}

.header-2 {
  background: rgb(31,177,73);
  background: linear-gradient(90deg, rgba(31,177,73,1) 0%, rgba(184,224,140,1) 78%, rgb(246, 255, 236) 100%);
  width: 100%;
  height: 35px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.procedimento-container {
  display: flex;
  width: 100%;
  background-color: #85FF0033;
  color: black;
  padding: 20px;
  box-sizing: border-box;
}

.procedimento-container .procedimento {
  flex: 1;
  padding-right: 20px;
}

.procedimento-container img {
  flex: 1;
  max-width: 100%;
  height: 60%;
}

.content-wrapper {
  display: flex;
  width: 100%;
  margin-top: 30px;
  box-sizing: border-box;
}

.inscricao, .matricula {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.inscricao {
  margin-right: 10px;
}

.matricula {
  margin-left: 10px;
}

nav h1 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

#in{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 80px;
}

#mt{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 80px;
}

nav p {
  font-size: 27px;
}

.inscricao .list-container, .matricula .list-container {
  background-color: rgb(255, 182, 122);
  padding: 10px;
  border-radius: 30px;
  margin-top: 50px;
}

#transparente{
  color: transparent;
}

.inscricao li, .matricula li {
  font-size: 2em;
  margin-bottom: 5px;
}

img {
  max-width: 100%;
  height: auto;
}

footer {
  background-color: #898989;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  margin-top: 100px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p {
  margin: 5px 0;
}

.footer-section a img {
  width: 48px;
  height: 48px;
  margin: 0 10px;
  vertical-align: middle;
}